@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&family=Roboto:wght@300&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    background-color: rgba(255, 255, 255, 0.938);
    font-weight: bolder;
}

header{
    color: aliceblue;
    background-color: rgba(3, 154, 255, 0.747);
}

.logo{
    width: max-content;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    text-shadow: 0px 0px 2px rgb(255, 255, 255);
    color: aliceblue;
}

.center{
    text-align: center;
    margin: auto;
}

.logo img{
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
}


nav{ max-width: 1000px; width: 100%;}
.nv{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
    justify-content: flex-end;
}

.c_a{
    padding-top: 20px;
    padding: 0px;
}

.cartas_container{
    display: grid;
    flex-wrap: wrap;
    justify-items: center;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 10px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.596);
    padding: 10px;
    max-width: 1000px;
    grid-template-columns: 1fr 1fr 1fr;
}


.carta{
    background-color: rgb(255, 255, 255);
    width: 100%;
    max-width: 299px;
    padding: 10px;
    border-radius: 5px;
    height: 335px;
    box-shadow: 0px 0px 10px rgba(3, 154, 255, 0.747);;
}

.container_img{
    height: 180px;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_img img{
    width: 115%;
}

.titulo{
    margin-top: 5px;
    margin-bottom: 0px;
    border-bottom: 1px solid rgb(172, 172, 172);
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.intro{
    overflow: hidden;
    font-size: 12px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    height: 55px;
}

b{
    position: absolute;
    transform: translateY(-50%);
    color: rgb(3, 70, 255);
    font-weight: bolder;
    text-shadow: 0px 0px 2px rgba(33, 17, 250, 0.534);
}

.con_menu, .con_list{
 margin-top: 20px;
 background-color: rgba(255, 255, 255, 0.596);
 max-width: 960px;
 padding: 0px;
 position: relative;
 padding: 10px;
 width: 100%;
 
}

#can, #li{
    display: none;
}


#cancion, #lis{
    padding-top: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.534);
}

#cancion p, #lis p{
    padding: 10px;
    position: relative;
    background-color: aliceblue;
    margin: 0px;
}


#cancion b, #lis b{
    font-size: 13px;
}




.tonalidades{
    background-color: aliceblue;
    width: 100%;
}

.nav-item{
    display: flex;
}

.favorito{
    position: absolute;
    left: -15px;
    top: 57px;
    z-index: 5;
    height: 20px;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    
}

.favorito i{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 10px;
    /*background-color: rgb(7, 164, 255);*/
}

.nav-link{
    cursor: pointer;
    transition: all 1s;
    
}

.nav-link:hover{
    background-color: rgba(240, 248, 255, 0.233);
    transition: all 1s;

}

titulo{
    width: 100%;
    text-align: center;
    background-color: rgb(149, 199, 243);
    color: aliceblue;
    display: block;
    font-size: 20px;
}

.btndescargar{
    height: 30px;
    width: 100%;
    text-align: center;
    background-color: rgb(149, 199, 243);
    color: aliceblue;
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
}

.btndescargar img {
    vertical-align: middle;
    height: 90%;
}


@media (max-width: 991px){
    .cartas_container{
        grid-template-columns: 1fr 1fr;
    }
    .carta{
        width: 90%;
    }

    .nav-item{
        display: flex;
        flex-direction: column;
    }

    .navbar-collapse {
        flex-basis: 100%;
        flex-grow: 1;
        align-items: center;
        justify-content: flex-start;
    }

    .nav-link{
        margin-top: 10px;
        border-top: 1px solid white;
    }
}



@media (max-width: 767px){

    .cartas_container{
        display: grid;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }

    .carta{
        width: 100%;
        max-width: 240px;
        min-width: auto;
    }

    .container_img img{
        width: 145%;
    }
}

@media (max-width: 545px){
    .carta{
        width: 100%;
        max-width: 200px;
        min-width: auto;
    }
}

@media (max-width: 449px){
    .carta{
        width: 100%;
        max-width: 190px;
        min-width: auto;
    }

    
}

@media (max-width: 433px){
    .carta{
        width: 100%;
        max-width: 300px;
        min-width: 0px;
        height: 274px;
    }

    .cartas_container{
        grid-template-columns: 1fr 1fr;
        gap: 5px;
    }

    .container_img {
        height: 120px;
        border-radius: 5px;
        overflow: hidden;
        display: flex;
        justify-content: center;
    }

    #cancion, #lis{
        padding: 0px;
        padding-top: 0px;
        width: 100%;
        display: flex;
        justify-content: center;
    }
}


@media (max-width: 295px){
    .carta{
        width: 100%;
        max-width: 200px;
        min-width: 0px;
        height: 274px;
    }

    .cartas_container{
        grid-template-columns: 1fr;
        gap: 5px;
    }
}

@media (max-width: 251px){
    .center{
        display: none;
    }
}

inv{
    color: rgb(255, 255, 255);
    
}
